{% extends "layout.html" %}

{% block head %}
  <title>Pannello Admin</title>
{% endblock %}

{% block body %}
  <h3>Giocatori attuali</h3>
  <table>
    {% for player in current_players %}
      <tr>
        <td>{{ player[0] }}</td>
      </tr>
    {% endfor %}
  </table>
  <form action="/clean_up" method="post">
    <button type="submit">Pulisci</button>
  </form>
  <h3>Giocatori nel DB</h3>
  <table>
    {% for player in players %}
      <tr>
        <td>{{ player[0] }}</td>
        <td>{{ player[1] }}</td>
      </tr>
    {% endfor %}
  </table>
  <form action="add_new_player" method="post">
    <input name="new_player" placeholder="Nome" type="text">
    <input name="value" placeholder="Valore" type="text">
    <button type="submit">Aggiungi al DB</button>
  </form>
  <form action ="/edit_value" method="post">
    <select name="player">
      {% for player in players %}
        <option value="{{ player[0] }}">{{ player[0] }}</option>
      {% endfor %}
    </select>
    <input name="new_value" placeholder="Nuovo valore" type="text">
    <button type="submit">Aggiorna valore</button>
  </form>
{% endblock %}
