{% extends "layout.html" %}

{% block head %}
  <title>Partecipa</title>
{% endblock %}

{% block body %}
<h1>Partecipa</h1>
  <form action="/" method="post">
    <select name="name">
      {% for player in players %}
	<option value="{{ player[0] }}">{{ player[0] }}</option>
      {% endfor %}
    </select>
    <button type="submit">Partecipa</button>
  </form>
  <h3>Giocatori attuali</h3>
  <table>
    {% for player in current_players %}
      <tr>
        <td>{{ player[0] }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

